<style>
	#pref-coin{
		font-weight: bold;
	}
	#required{
		color:red;
	}
</style>


<legend>Submit a new Project </legend>
<div class = "container" style = "width: 600px; margin-bottom: 50px;">

<%= form_for @campaign do |f| %>
	<div class = 'col-md-offset-2' style ='margin-top:5px; align:left;'>
		<div class = "row top-buffer">		
		Title<span id = "required">*</span><br/> <%= f.text_field :title, :required => true, :placeholder => "Name of your project" %><br>
		</div>
		<div class ="row top-buffer">
			Category<br/> <%= f.select :category, ["Uncategorized", "People", "Events", "Non-profit Organizations", "Websites and Blogs", "Software", "Businesses", "Media and Content Creation", "Authors", "Singers", "Other"]%>
		</div>

		<div class = "row top-buffer">
			Preferred Currency<br/> <%= f.select :preferred_currency, ["Bitcoin", "Dogecoin"] %>
		</div>

		<div class = "row top-buffer">
			<span id ="pref-coin">Bitcoin</span> wallet address<span id = "required">*</span><br/><%= f.text_field :qr_code, :required => true%>
		</div>
		<div class = 'row top-buffer'>
			<%= f.file_field :uploaded_qr_code, :text => "Upload QR Code", :required => true %>
		</div>

		<div class = 'row top-buffer'>
			Goal<br/><%= f.text_field :goal, :enabled => true%> or <%= f.check_box :goal, :onclick => "changeElement()" %> Open Donations
		</div>
		<script>
			//select B and D and L or whatever from unicode
			document.getElementById("campaign_preferred_currency").onchange = function(){
				document.getElementById("pref-coin-initial").innerHTML = this.options[this.selectedIndex].text[0];	
				document.getElementById("pref-coin").innerHTML = this.options[this.selectedIndex].text;
			}
			function changeElement() {
				var elementCheckMark = document.getElementById("campaign_open_donations")
				var outputField = document.getElementById("campaign_goal")
				if (elementCheckMark.checked === true){
					
					outputField.disabled = true
					outputField.value = "Open Donations"
				}	
				else{
					outputField.disabled = false
					outputField.value = ""
				}
			}

		</script>

		<div class = 'row top-buffer'>
			Description<span id = "required">*</span><br/> <%= f.text_area :description, :required => true, :rows=>'5', :cols=> "40", :style => "margin-bottom: 10px; resize: none;" %><br>
		</div>
		<!-- javascript here to generate a default suggestion description using title, category, preferred currency-->

		<div class = 'row top-buffer'>
			Cover Image<%= f.file_field :cover_image, :text => "Upload Cover Image", :class => "btn btn-sm btn-alert"%>
		</div>

		<div class = 'row top-buffer'>
			Link to your website<%= f.text_field :website %>

	<%= f.submit "Save Campaign", :class => "btn btn-lg btn-primary top-buffer", :style => 'margin-bottom: 20px;' %>
	</div>
<% end %>

</div>