<%= params[:title]%>

<br><br>
<div class = 'container' align = 'right'>
			
	<table class = 'table-striped table-bordered table-condensed table-responsive' style = "table-layout:auto;">
		<thead><th>Donation Info </th><th>Donation Info</th></thead>
			
			<tr><td class = "auto">Current Bitcoin exchange rate:</td><td> <%= @current_bitcoin_price %></td></tr>
			<tr><td>Accepts:</td><td> <%= @campaign.preferred_currency %></td></tr>
			<tr><td>Page views:</td><td> <%= @campaign.views%></td></tr>
			<tr><%=@campaign.qr_code%></tr>
	</table>
</div>