<%= params[:title]%>

<br><br>
<div class = 'container' align = 'right'>
			
	<table class = 'table-striped table-bordered table-condensed table-responsive' style = "table-layout:auto;">
		<thead><th>Donation Info </th><th>Donation Info</th></thead>
			
			<tr><td class = "auto">Current Bitcoin exchange rate:</td><td><span id = "btc-rate"></span></td></tr>
			<tr><td>Accepts:</td><td> <%= @campaign.preferred_currency %></td></tr>
			<tr><td>Page views:</td><td> <%= @campaign.views%></td></tr>
			<tr><td>Address:</td><td><%=@campaign.qr_code%></td></tr>
			<tr><td><%= image_tag @campaign.location %></td></tr>

	</table>
</div>
<div class = 'container containter-fluid' style = "width: 600px; overflow: auto;box-shadow: 0 0 3px black;">
	<div class = "col-lg-10">
		<%= image_tag "cover_images/#{Campaign.find_by_title(params[:title]).id}.png" %>
		<%= @campaign.description  %>
		
	</div>
</div>

<script>
	$.get("https://api.coindesk.com/v1/bpi/currentprice.json", function( data ){
		$('btc-rate').text(data["bpi"]["USD"]["rate"])
	}, 'JSON');
</script>