<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Littlebitback" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Littlebitback" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <header style= "margin:0px; padding:0px; border:0px">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" style ="margin:0px; padding:0px; border:0px;">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
